In [35]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

### apyori library

In [36]:
records=[['Beef', 'Chicken', 'Milk'],
         ['Beef', 'Cheese'],
         ['Cheese', 'Boots'],
         ['Beef', 'Chicken', 'Cheese'],
         ['Beef', 'Chicken', 'Clothes', 'Cheese', 'Milk'],
         ['Chicken', 'Clothes', 'Milk'],
         ['Chicken', 'Milk', 'Clothes']]
association_rules = apriori(records, min_support=0.3, min_confidence=0.8, min_lift=1, min_length=2)
association_results = list(association_rules)
for item in association_results:
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    print("Support: " + str(item[1]))
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: Chicken -> Clothes
Support: 0.42857142857142855
Confidence: 1.0
Lift: 1.4
=====================================
Rule: Chicken -> Milk
Support: 0.5714285714285714
Confidence: 1.0
Lift: 1.4
=====================================
Rule: Clothes -> Milk
Support: 0.42857142857142855
Confidence: 1.0
Lift: 1.75
=====================================
Rule: Chicken -> Clothes
Support: 0.42857142857142855
Confidence: 1.0
Lift: 1.75
=====================================

## mlxtend library

In [37]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [47]:
pd.DataFrame(data)

         0        1        2       3     4
0     Beef  Chicken     Milk    None  None
1     Beef   Cheese     None    None  None
2   Cheese    Boots     None    None  None
3     Beef  Chicken   Cheese    None  None
4     Beef  Chicken  Clothes  Cheese  Milk
5  Chicken  Clothes     Milk    None  None
6  Chicken     Milk  Clothes    None  None

In [40]:
data=[['Beef', 'Chicken', 'Milk'],
      ['Beef', 'Cheese'],
      ['Cheese', 'Boots'],
      ['Beef', 'Chicken', 'Cheese'],
      ['Beef', 'Chicken', 'Clothes', 'Cheese', 'Milk'],
      ['Chicken', 'Clothes', 'Milk'],
      ['Chicken', 'Milk', 'Clothes']]
te = TransactionEncoder()
X =te.fit_transform(data)
colmns = te.columns_
df = pd.DataFrame(X,columns=colmns)
df.astype(np.uint8)
df

    Beef  Boots  Cheese  Chicken  Clothes   Milk
0   True  False   False     True    False   True
1   True  False    True    False    False  False
2  False   True    True    False    False  False
3   True  False    True     True    False  False
4   True  False    True     True     True   True
5  False  False   False     True     True   True
6  False  False   False     True     True   True

In [41]:
result =apriori(df,min_support=0.3,use_colnames=True)
result

     support                  itemsets
0   0.571429                    (Beef)
1   0.571429                  (Cheese)
2   0.714286                 (Chicken)
3   0.428571                 (Clothes)
4   0.571429                    (Milk)
5   0.428571            (Beef, Cheese)
6   0.428571           (Chicken, Beef)
7   0.428571        (Chicken, Clothes)
8   0.571429           (Chicken, Milk)
9   0.428571           (Clothes, Milk)
10  0.428571  (Chicken, Clothes, Milk)

In [43]:
association_rules(result,min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Clothes),(Chicken),0.428571,0.714286,0.428571,1.0,1.40,0.122449,inf
1,(Milk),(Chicken),0.571429,0.714286,0.571429,1.0,1.40,0.163265,inf
2,(Clothes),(Milk),0.428571,0.571429,0.428571,1.0,1.75,0.183673,inf
3,"(Chicken, Clothes)",(Milk),0.428571,0.571429,0.428571,1.0,1.75,0.183673,inf
4,"(Clothes, Milk)",(Chicken),0.428571,0.714286,0.428571,1.0,1.40,0.122449,inf
5,(Clothes),"(Chicken, Milk)",0.428571,0.571429,0.428571,1.0,1.75,0.183673,inf

In [45]:
result2 =apriori(df,min_support=0.001,use_colnames=True)
association_rules(result2,min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Boots),(Cheese),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
1,(Clothes),(Chicken),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
2,(Milk),(Chicken),0.571429,0.714286,0.571429,1.0,1.400000,0.163265,inf
3,(Clothes),(Milk),0.428571,0.571429,0.428571,1.0,1.750000,0.183673,inf
4,"(Chicken, Cheese)",(Beef),0.285714,0.571429,0.285714,1.0,1.750000,0.122449,inf
5,"(Clothes, Beef)",(Cheese),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
6,"(Clothes, Cheese)",(Beef),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
7,"(Milk, Cheese)",(Beef),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
8,"(Clothes, Beef)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
9,"(Beef, Milk)",(Chicken),0.285714,0.714286,0.285714,1.0,1.400000,0.081633,inf
10,"(Clothes, Beef)",(Milk),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
11,"(Clothes, Cheese)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
12,"(Milk, Cheese)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
13,"(Clothes, Cheese)",(Milk),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
14,"(Milk, Cheese)",(Clothes),0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
15,"(Chicken, Clothes)",(Milk),0.428571,0.571429,0.428571,1.0,1.750000,0.183673,inf
16,"(Clothes, Milk)",(Chicken),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
17,(Clothes),"(Chicken, Milk)",0.428571,0.571429,0.428571,1.0,1.750000,0.183673,inf
18,"(Chicken, Clothes, Beef)",(Cheese),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
19,"(Chicken, Clothes, Cheese)",(Beef),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
20,"(Clothes, Beef, Cheese)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
21,"(Clothes, Beef)","(Chicken, Cheese)",0.142857,0.285714,0.142857,1.0,3.500000,0.102041,inf
22,"(Clothes, Cheese)","(Chicken, Beef)",0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
23,"(Chicken, Milk, Cheese)",(Beef),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
24,"(Beef, Milk, Cheese)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
25,"(Milk, Cheese)","(Chicken, Beef)",0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
26,"(Clothes, Beef, Milk)",(Cheese),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
27,"(Clothes, Beef, Cheese)",(Milk),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
28,"(Clothes, Milk, Cheese)",(Beef),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
29,"(Beef, Milk, Cheese)",(Clothes),0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
30,"(Clothes, Beef)","(Milk, Cheese)",0.142857,0.142857,0.142857,1.0,7.000000,0.122449,inf
31,"(Clothes, Cheese)","(Beef, Milk)",0.142857,0.285714,0.142857,1.0,3.500000,0.102041,inf
32,"(Milk, Cheese)","(Clothes, Beef)",0.142857,0.142857,0.142857,1.0,7.000000,0.122449,inf
33,"(Chicken, Clothes, Beef)",(Milk),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
34,"(Clothes, Beef, Milk)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
35,"(Clothes, Beef)","(Chicken, Milk)",0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
36,"(Chicken, Clothes, Cheese)",(Milk),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
37,"(Chicken, Milk, Cheese)",(Clothes),0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
38,"(Clothes, Milk, Cheese)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
39,"(Clothes, Cheese)","(Chicken, Milk)",0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
40,"(Milk, Cheese)","(Chicken, Clothes)",0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
41,"(Chicken, Clothes, Beef, Milk)",(Cheese),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
42,"(Chicken, Clothes, Beef, Cheese)",(Milk),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
43,"(Chicken, Clothes, Milk, Cheese)",(Beef),0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
44,"(Chicken, Beef, Milk, Cheese)",(Clothes),0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
45,"(Clothes, Beef, Milk, Cheese)",(Chicken),0.142857,0.714286,0.142857,1.0,1.400000,0.040816,inf
46,"(Chicken, Clothes, Beef)","(Milk, Cheese)",0.142857,0.142857,0.142857,1.0,7.000000,0.122449,inf
47,"(Chicken, Clothes, Cheese)","(Beef, Milk)",0.142857,0.285714,0.142857,1.0,3.500000,0.102041,inf
48,"(Chicken, Milk, Cheese)","(Clothes, Beef)",0.142857,0.142857,0.142857,1.0,7.000000,0.122449,inf
49,"(Clothes, Beef, Milk)","(Chicken, Cheese)",0.142857,0.285714,0.142857,1.0,3.500000,0.102041,inf
50,"(Clothes, Beef, Cheese)","(Chicken, Milk)",0.142857,0.571429,0.142857,1.0,1.750000,0.061224,inf
51,"(Clothes, Milk, Cheese)","(Chicken, Beef)",0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
52,"(Beef, Milk, Cheese)","(Chicken, Clothes)",0.142857,0.428571,0.142857,1.0,2.333333,0.081633,inf
53,"(Clothes, Beef)","(Chicken, Milk, Cheese)",0.142857,0.142857,0.142857,1.0,7.000000,0.122449,inf
54,"(Clothes, Cheese)","(Chicken, Beef, Milk)",0.142857,0.285714,0.142857,1.0,3.500000,0.102041,inf
55,"(Milk, Cheese)","(Chicken, Clothes, Beef)",0.142857,0.142857,0.142857,1.0,7.000000,0.122449,inf